[Unit]
Description=Flask App
After=network.target

[Service]
User=ec2-user
ExecStart=nohup python3 /home/ec2-user/NewServer/PythonFlask/docker-curriculum/flask-app/app.py --port=5000
WorkingDirectory=/home/ec2-user/NewServer/PythonFlask/docker-curriculum
Restart=always

[Install]
WantedBy=multi-user.target
