@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*Variables css*/

/*Color Pallete*/

:root 
{
    --first-color: #ee6c4d;
    --black-color: 	#E0FBFC;
    --white-color: #293241;
}


/*Font and typography*/

:root 
{
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 0.93rem;
    --small-font-size: 0.81rem;
}

/*If the screen is bigger than 768px, the font size will be bigger*/
@media screen and (min-width: 768px) 
{
    :root 
    {
      --h1-font-size: 4.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --small-font-size: 1.37rem;
    }
}

/*z index*/

/*z index*/
:root 
{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*Ensure Sizing Control Parent-Son*/

*, ::before, ::after 
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    margin: 0 0 0 0;
    font-family: var(--body-font);
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 700;
    overflow: auto;
}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}


ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

span {
    font-weight: 700;
}


/*----- LAYOUT -----*/

/*FullBody*/
.bd-grid 
{
    max-width: 1500px;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

/*Header*/
.l-header {
    width: 100%;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #1974d2;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*Phone Screen*/
@media screen and (max-width: 768px) {

    .section {
        flex-direction: column-reverse;
    }
    
    .nav__menu {
        display: none;
        position: fixed;
        left: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
        background-image: linear-gradient(var(--black-color), var(--first-color));
        width: 100%;
        height: 45%;
        padding: 1.5rem;
        border-radius: 0 0 1rem 1rem;
        transition: .5s;
    }

    .nav__menu.show {
        display: block;
        top: 0;
    }

    .section_about {
        position: relative; /* Added this line */
        background-color: var(--first-color);
        border-radius: 45px;
        padding: 20px;
        margin-top: 20vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }
}


.nav__list {
    text-align: center;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__link {
    color: var(--text-color);
}

.nav__link {
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;  /* Start from the center */
    transform: translateX(-50%);  /* Ensures the starting point is at the center of the text */
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    transition: all 0.3s;
    visibility: hidden;
}

.nav__link:hover::after {
    width: 75%;  /* The underline will expand to 75% of the text width */
    visibility: visible;
}

.nav__logo {
    font-size: var(--normal-font-size);
    color: var(--black-color);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/*Menu*/
.show {
    top: 3rem;
}

/*Home*/
.l-main {
    height: calc(100vh - 3rem);
}

.home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: max-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    row-gap: 2rem;
    height: 100%;
    font-weight: 700;
}

.home__information 
{
    padding-left: 2rem;
    border-left: 5px solid var(--white-color);
    z-index: var(--z-tooltip);
}

.home__pressent 
{
  font-size: var(--small-font-size);
}

.home__pressent2
{
  font-size: var(--small-font-size);
}

.home__title 
{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}

.home__skill 
{
    font-size: var(--h2-font-size);
}

.home__button 
{
    display: inline-block;
    margin-top: 1.5rem;
    font-size: .75rem;
    color: var(--white-color);
    padding: .625rem 1rem;
    border-radius: .25rem;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--white-color)), to(var(--first-color)));
    background-image: linear-gradient(to right, var(--white-color), var(--first-color));
}

.home__img 
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vh;
    z-index: var(--z-normal);
  
}

.home__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
}

.icon-wrapper {
    margin-left: 2rem;
    font-size: 1.33rem;
    cursor: pointer;
    position: relative;
    color: var(--black-color); /* Set the initial color to black */
    transition: color 0.5s ease-in-out; /* Add transition for the color property */
}

.icon-wrapper:hover {
    color: var(--first-color); /* Change color to red on hover */
}





@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }
    .l-main 
    {
        height: 100vh;
    }
    .nav 
    {
        height: 4rem;
    }
    .nav__list 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
    }
    .nav__item 
    {
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .nav__toggle, .nav__close 
    {
        display: none;
    }
    .nav__link 
    {
        text-transform: initial;
    }
    .home 
    {
        -ms-grid-rows: max-content 20px;
            grid-template-rows: -webkit-max-content 20px;
            grid-template-rows: max-content 20px;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .home__information 
    {
        margin-top: 2rem;
    }
    .home__social 
    {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 0;
    }
    .home__social-icon 
    {
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .home__img 
    {
        width: 553px;
        right: 5%;
    }

    .section_about {
        position: relative; /* Added this line */
        background-color: var(--first-color);
        border-radius: 45px;
        padding: 20px;
        margin-top: 20vh;
        margin-left: 30vh;
        margin-right: 30vh;
    }

}

@media screen and (min-width: 1200px) 
{
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
}



/*ANIMATE*/
.overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
}
  
.first 
{
    background-color: var(--first-color);
}
  
.second 
{
    background-color: var(--first-color);
    left: 33.3%;
}
  
.third 
{
    background-color: var(--first-color);
    left: 66.6%;
}


/*----- ANIMATE Typing-----*/

.typing-animation {
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    animation: typing 4s steps(30, end) 1s 1 normal both, blink 1s infinite;
    width: 0;
    max-width: 16ch;
}

@keyframes typing {
    100% {
        width: 16ch;
    }
}

@keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: var(--first-color) }
}



.home__img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--white-color) 0%, rgba(255, 255, 255, 0) 20%);
    pointer-events: none;
}

.home__img img {
    width: 100%;
    height: auto;
}



/* About Section */
.section_about {
    position: relative; /* Added this line */
    background-color: #5c6b9c;
    border-radius: 45px;
    padding: 20px;
    margin-top: 20vh;
}

.about-grid 
{
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
    padding-bottom: 20vh;
}

.about__img,
.about__data 
{
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.section-title {
    position: absolute;
    font-size: 10rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}







/* Header slide and fade after a certain point */
.slideUp {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
















  






